.App {
    max-width: 600px;
    margin: 60px auto;
    
    
}
.App a {
    
    text-decoration: none;
}
.App footer {
   text-align: center; 
   font-size: 11px;
   margin: 10px 0;
   color: #100f1366;
}

@media (max-width: 760px) {
    .App footer { 
   font-size: 8px;
   margin: 5px 0;
    }
}