.WeatherForecast {
    text-align: center;
    margin: 30px 0;
    border-bottom: 1px solid #f9f7fe;
}
.WeatherForecast-icon img {
    width: 100%;
    max-width: 60px;
    height: auto;
}
.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}

@media (max-width: 760px) {
    .WeatherForecast {
        margin: 25px 0;
    }
    .WeatherForecast-Day {
        font-size: 11px;
    }
    .WeatherForecast-icon img {
    max-width: 40px;
} 
    .WeatherForecast-temperatures {
        font-size: 11px;
    }
    .WeatherForecast-temperature-min {
    margin-left: 1px;
}
}
